* {
  max-width: 100%;
  color: white;
  font-family: open-sans;
}

@font-face {
	font-family: open-sans;
	src: url("../fonts/open-sans.ttf");
}

body {
  background-color: rgb(1, 10, 19);
}

.display-card {
  width: 100%;
  flex: 50%;
}
.contents {
  padding: 5px;
  color: white;
  background-color: rgb(6, 31, 54);
  width: 90%;
}


.bh-button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  padding: 40px;
  image-rendering: crisp-edges;
  background-image: url("../img/button.png");
  max-width: 160px;
  max-height: 24px;
}
.bh-button:hover {
  background-image: url("../img/button.png");
}
.bh-button:active {
  background-image: url("../img/clicked_button.png");
}
.bh-button-selflink {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  padding: 40px;
  image-rendering: crisp-edges;
  background-image: url("../img/clicked_button.png");
  max-width: 160px;
  max-height: 24px;
}

.tables {
  width: fit-content;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  row-gap: 10px;
  columns: 10px;
  padding: 10px;
}

.web-header {
  color: rgb(176, 178, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 32px;
}

li {
  list-style-type: none;
}
ul {
  line-height: 0.1;
}
ul::before {
  content: "-";
}
